<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="bb">
  &nbsp;
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :id => 'email' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  &nbsp;
  <div class="field">
    <%= f.label :password %> <i>(new)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  &nbsp;
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  &nbsp;
  <div class="field">
    <%= f.label :current_password %> <i></i><br />
    <%= f.password_field :current_password, autocomplete: "off", :id => 'current_password' %>
  </div>
  &nbsp;
  <div class="field">
    <%= f.label "Name" %><br>
    <%= f.text_field :name, autocomplete: "off", :id => 'name' %>
  </div>
  &nbsp;
  <div class="field">
    <%= f.label "License Plate Number" %><br>
    <em>(6 or 7 characters)</em><br />
    <%= f.text_field :LPN, autocomplete: "off", required: true, pattern: ".{6,7}", :id => 'LPN'  %>
  </div>

  <div class="actions">
    <%= f.submit "Update" , :id => "update" %>
  </div>
<% end %>



<p> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>