<br>
<div class="convoheading">
	<span>From: </span>&emsp;&emsp;&emsp;&emsp;&emsp;<%= @message.participants[1].name %><br>
	<span>Subject: </span>&emsp;&emsp;&emsp;&ensp;&nbsp;<%= @message.subject %><br>
	<span>Last message: </span><%= @message.updated_at.strftime("%-d %B %Y, %H:%M:%S") %><br>
</div>
<br>
<% receipt = @message.receipts_for(current_user)[0] %>

	<% @message.receipts.each do |receipt| %>
			<% if @duplicated %>
			<div class="conversation">
				<span><%= receipt.receiver.name %>: </span>
				<%= receipt.message.body %>
			</div>
				<br>
			<% end %>
			<% @duplicated = !@duplicated; %>
	<% end %>

<br><br>
<%= link_to "Reply", message_reply_path(msg: @message) %>
