<h2>Inbox</h2>
<% if @receipts.empty? %>
	<p>No messages to display</p>
<% end %>

<% if flash[:success] %>
  <div class="notice-success"><%= flash[:success] %></div>
<% end %>


<table id="inbox">

	<% @receipts.each do |receipt| %>
	<%	 message = receipt %>
	<%	 #read = receipt.is_unread? %>
		<% if message.participants[1] != nil && !message.is_deleted?(current_user)  %>
			<tr>
				<td><%= message.participants[1].name %></td>
				<td><%= link_to message.subject, message_display_path(msg: message) %></td>
				<td><%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></td>
				<td><%= link_to "Delete", message_trash_path(msg: message) %></td>
			</tr>
		<% end %>
	<% end %>

</table>