<h2>Compose new message</h2>

<%= form_tag(message_compose_path, method: "post") do %>

  <div class="field">
    <%= label_tag "To" %><br />
    <%= text_field 'recipient', nil %>
  </div>

  <div class="field">
    <%= label_tag "Subject" %><br />
    <%= text_field 'subject', nil  %>
  </div>

  <div class="field">
    <%= label_tag "Body" %><br>
    <%= text_area 'body', nil, rows:10, cols:25 %>
  </div>

  <div class="actions">
    <%= submit_tag "Send" %>
  </div>
<% end %>
