<div align="center">
<%-# display handicap image if needed -%>
<% if @spot.spot_type == 'handicap' %>
	<%= image_tag("handicap.gif", border: 0, :size => '35x35', align: 'left') %>
	<br>
<% end %>

<%-# display spot  -%>
<p><%= "Spot ##{@spot.id}" %></p>

<%-# display status of spot (open, taken, reserved) -%>
<p class="<%= @spot.status %>" id="spot"><%= @spot.status.upcase %></p>

<%-# display user holding the spot and a link to message them -%>
<% if @spot.occupying != nil  %>
	<p>
		<%= image_tag("profile.png", size: '15x15') %>
		<%-# signed in user is holding the spot -%>
		<% if user_signed_in? && @user.id == @spot.occupying %>
			<%= "Me" %>
		<% else %>
			<%= User.find(@spot.occupying).name %>
			<%= link_to image_tag("message.png", size: '20x20'), user_path(@spot.occupying) %>
		<% end %>
	</p>
<% end %>


<%-# user doesn't already have a spot and wants to take open spot -%>
<% if user_signed_in? && @user.is_parked == false && @spot.status == 'open' %>
<%= link_to 'Take spot', 'parkingspot/take', onclick: 'take()' %><br />
<%= link_to 'Reserve spot (5 mins)', 'parkingspot/reserve', onclick: 'reserve()' %><br />

<%-# user has previously reserved the spot and wants to take it or cancel -%>
<% elsif user_signed_in? && @user.id == @spot.occupying && @spot.status == 'reserved' %>
<%= link_to 'Take spot', 'parkingspot/take', onclick: 'take()' %><br />
<%= link_to 'Cancel reservation', 'parkingspot/cancel', onclick: 'leave()' %><br />

<%-# user is holding spot and wants to leave -%>
<% elsif user_signed_in? && @user.id == @spot.occupying && @spot.status == 'taken' %>
<%= link_to 'Leave spot', 'parkingspot/leave', onclick: 'leave()' %><br />

<% end %>

<%= link_to 'Close', '', {id: 'closeLink'} %>


</div>
