<p>
	<%= "Spot ##{@spot.id}" %>
	<% if @spot.spot_type == 'handicap' %>
		<%= image_tag("handicap.gif", border: 0, :size => '35x35', align: 'right') %>
	<% end %>
</p>
<p>
	<%= "Status: #{@spot.status}" %>
</p>
<% if @spot.occupying != nil  %>
	<p>
		<%= image_tag("profile.png", size: '15x15') %>
		<%= User.find(@spot.occupying).name %>
		<%= link_to image_tag("message.png", size: '25x25'), user_path(@spot.occupying) %>
	</p>
<% end %>


<%= link_to 'Close', '', {id: 'closeLink'} %>
