
%p= "Spot ##{@spot.id}"
-if @spot.spot_type == 'handicap'
	%p= image_tag("handicap.gif", border: 0, :size => '67x67')
%p= "Status: #{@spot.status}"

-if @spot.occupying == nil 
	%p= ''
-else
	%p= "Currently held by: #{User.find(@spot.occupying).name}"


= link_to 'Close', '', {id: 'closeLink'}