%meta{:charset => "utf-8"}
	%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
	%title @ViewBag.Title - My ASP.NET Application
	%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
	%body
	.navbar
		%ul.container
			%h1 Parking Pal
			%li Home
			%li Logout
			%i.material-icons error_outline
	.col-1.menu
		%div{:style => "display: inline"}
		%div
			%a{:href => map_path}
				%i.material-icons{:style => "background-color: aqua; font-size: 3em", :title => "Map"} map
			%a{:href => user_path}
				%i.material-icons{:style => "background-color: magenta; font-size: 3em", :title => "Account"} account_circle
			%a{:href => message_path}
				%i.material-icons{:style => "background-color: aquamarine; font-size: 3em", :title => "Messages"} question_answer
			%a{:href => stats_path}
				%i.material-icons{:style => "background-color: orange; font-size: 3em", :title => "Stats"} timeline


= link_to("Account", user_path)
= link_to("Map", map_path)
= link_to("Messages", message_path)

%br

- if current_page?(message_path) || current_page?(message_display_path) || current_page?(message_new_path)
	= link_to("Inbox", message_path)
	= link_to("Link to test message", message_display_path)
	= link_to("Compose", message_new_path)
	%br

- if current_page?(user_path) || current_page?(schedule_path)
	= link_to("Main Account", user_path)
	= link_to("Schedule", schedule_path)
	%br

- if current_page?(schedule_path) || current_page?(schedule_modify_path)
	= link_to("Main Schedule", schedule_path)
	= link_to("Display test modify", schedule_modify_path)
	%br
